<ul class='main-nav'>
  <li><a href="">EXPERTISE</a>
  <ul class="subnav">
      <li><a href="#">Sub Nav 1</a>
		<ul class="subnav2">
		  <li><a href="#">Sub Nav 1</a></li>
		  <li><a href="#">Sub Nav 2</a></li>
		  <li><a href="#">Sub Nav 3</a></li>
		</ul>
      </li>
      <li><a href="#">Sub Nav 2</a>
      <ul class="subnav2">
		  <li><a href="#">Sub Nav 1</a></li>
		  <li><a href="#">Sub Nav 2</a></li>
		  <li><a href="#">Sub Nav 3</a></li>
		  <li><a href="#">Sub Nav 3</a></li>
		  <li><a href="#">Sub Nav 3</a></li>
		  <li><a href="#">Sub Nav 3</a></li>
		</ul></li>
      <li><a href="#">Sub Nav 3</a>
      <ul class="subnav2">
		  <li><a href="#">Sub Nav 1</a></li>
		  <li><a href="#">Sub Nav 2</a></li>
		  <li><a href="#">Sub Nav 2</a></li>
		  <li><a href="#">Sub Nav 2</a></li>
		  <li><a href="#">Sub Nav 3</a></li>
		</ul>
	</li>
  </ul>
  </li>
  <li><a href="">PEOPLE</a>
  	  <ul class="subnav">
  	      <li><a href="#">Sub Nav 1</a>
  			<ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul>
  	      </li>
  	      <li><a href="#">Sub Nav 2</a>
  	      <ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul></li>
  	      <li><a href="#">Sub Nav 3</a>
  	      <ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul>
  		</li>
  	  </ul>
  </li>
  <li><a href="">ABOUT K|P</a>
  	  <ul class="subnav">
  	      <li><a href="#">Sub Nav 1</a>
  			<ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul>
  	      </li>
  	      <li><a href="#">Sub Nav 2</a>
  	      <ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul></li>
  	      <li><a href="#">Sub Nav 3</a>
  	      <ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul>
  		</li>
  	  </ul>
  </li>
  <li class="big"><a href="">PUBLICATIONS & VIEWS</a>
  	  <ul class="subnav">
  	      <li><a href="#">Sub Nav 1</a>
  			<ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul>
  	      </li>
  	      <li><a href="#">Sub Nav 2</a>
  	      <ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul></li>
  	      <li><a href="#">Sub Nav 3</a>
  	      <ul class="subnav2">
  			  <li><a href="#">Sub Nav 1</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 2</a></li>
  			  <li><a href="#">Sub Nav 3</a></li>
  			</ul>
  		</li>
  	  </ul>
  </li>
  <li><a href="">INQURIES</a>
    <ul class="subnav">
        <li><a href="#">Sub Nav 1</a>
  		<ul class="subnav2">
  		  <li><a href="#">Sub Nav 1</a></li>
  		  <li><a href="#">Sub Nav 2</a></li>
  		  <li><a href="#">Sub Nav 3</a></li>
  		</ul>
        </li>
        <li><a href="#">Sub Nav 2</a>
        <ul class="subnav2">
  		  <li><a href="#">Sub Nav 1</a></li>
  		  <li><a href="#">Sub Nav 2</a></li>
  		  <li><a href="#">Sub Nav 3</a></li>
  		  <li><a href="#">Sub Nav 3</a></li>
  		  <li><a href="#">Sub Nav 3</a></li>
  		  <li><a href="#">Sub Nav 3</a></li>
  		</ul></li>
        <li><a href="#">Sub Nav 3</a>
        <ul class="subnav2">
  		  <li><a href="#">Sub Nav 1</a></li>
  		  <li><a href="#">Sub Nav 2</a></li>
  		  <li><a href="#">Sub Nav 2</a></li>
  		  <li><a href="#">Sub Nav 2</a></li>
  		  <li><a href="#">Sub Nav 3</a></li>
  		</ul>
  	</li>
    </ul>
</li>
</ul>