<div>
    <nav class="top-bar">
        <ul>
            <!-- Title Area -->
            <li class="name">
                <h1>
                    <a href="{{path('adminredirts')}}">
                        Σύστημα Διαχείρισης Τηλεπικοινωνιακών Κυκλωμάτων ΠΣΔ
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar"><a href="#"></a></li>
        </ul>


        <section>
            <!-- Left Nav Section -->
            <ul class="left">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{path('adminredirts')}}">Admin</a></li>
                {% endif %}
                <li class="divider hide-for-small"></li>
            </ul>

            <!-- Right Nav Section -->
            <ul class="right">
                <li class="divider show-for-medium-and-up"></li>
                <li><a href="{{path('fos_user_security_login')}}">Σύνδεση</a></li>
            </ul>
        </section>
    </nav>
</div>