/* Reset Styles */
body{
	margin:0; 
	padding:0; 	
	font-family: Tahoma;
}
img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
table td{border-collapse:collapse;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table td {
	border-collapse:collapse;
}


.page{
	width: 210mm;
	height: 297mm;
	margin: 20px auto;
	box-shadow: 0px 0px 5px #333;
        overflow: hidden;
}

.page .head{
	text-align: center;
	padding-top: 20px;
}


.tos .header, .tos .footer{
	width: 200px;
	height:30px;
	margin: 0 auto;
	background-color: #a02013;
	position:relative;
	top:10px;
}

.tos .title{
	margin: 20px auto 0 auto;
	color: #a02013;
	font-size: 36px;
	text-align: center;
}

.tos .table{
	height: 950px;
	background: url('/images/binder/logo-grey.jpg') center center no-repeat;
}

.tos .table table{
	margin:0 auto;
	position:relative;
	top: 30px;
}
.tos .table table td{
	padding: 10px 20px;
}
.tos .table table td.key{
	color: #999;
	background: url('/images/binder/divider.jpg') center right no-repeat;
}

.inner .header{
	width: 200px;
	height:30px;
	margin: 0 auto;
	background-color: #a02013;
	position:relative;
	top:10px;
}
.inner .category{
        font-size: 1.5em;
	text-align: center;
	color: #a02013;
	font-weight: normal;
	padding:0;
	margin: 0;
}

.inner aside{
	width: 200px;
	margin: 25px 40px;
}

.inner aside .main{
	padding: 20px;
	background-color: #9cacbb;
	color: white;
	font-size: 14px;
}

.inner aside .main img{
	width: 150px;
	border: 1px solid white;
	height: 150px;
	
}
.inner aside .main a{
	color: white;
	text-decoration: none;
}

.inner aside .secondary{
	margin-top: 20px;
	padding: 20px;
	background-color: #f2f2f2;
	font-size: 12px;
}


.inner aside .secondary dl{
	margin:0;
	padding:0;
}
.inner aside .secondary dt{
	font-weight: bold;
}
.inner aside .secondary dd{
	margin:0 0 8px 0;
}



.inner article{
	width:450px;
}



.inner article h2{
	color: #9cacbb;
	font-size: 24px;
	font-weight: normal;

}

.inner article h3{
	font-size: 18px;
	font-weight: normal;
}

.inner article hr{
	border: 2px solid #a02013;
}
.inner article .text{
	text-align: justify;
}



/*floats*/
.inner .left article{
	float:left;
}

.inner .left aside{
	float: left;
}
.inner .right article{
	float:right;
}

.inner .right aside{
	float: right;
}












