{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block logo %}
    <a href="{{ url('sonata_admin_dashboard') }}" class="brand">
        {#<img src="{{ asset('images/markers/gray.png') }}"  alt="{{ admin_pool.title }}" />#}
        Admin Home
    </a>
{% endblock %}